/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */


canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */



.js-count-particles{
  font-size: 1.1em;
}



/* ---- particles.js container ---- */

